
   
   
   <!-- start of footer -->
    <footer class=" bg-primary">
        <div class="container bg-primary">
            <div class=" row justify-content-between mt-5 text-center text-md-start">
                <div class="col-lg-3 mt-5">
                    <div class="footer-widget">
                        <a href="index.html">
                            <img loading="prelaod" decoding="async" class="img-fluid" width="160" src="images/logo.svg"
                                alt="Wallet">
                        </a>
                        <ul class="list-unstyled list-inline mt-5 social-icons">
                            <li class="list-inline-item me-3"><a title="Explorer Facebook Profile" class="text-black"
                                    href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="list-inline-item me-3"><a title="Explorer Twitter Profile" class="text-white"
                                    href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item me-3"><a title="Explorer Instagram Profile" class="text-black"
                                    href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                        <div class="row text-right pt-3">
                            <div class="col-lg-12">
                                <div class="overflow-hidden">
                                    <!-- Copyright -->
                                    <p class="footer-copy">
                                        Copyright &copy;
                                        <script>var CurrentYear = new Date().getFullYear()
                                            document.write(CurrentYear)
                                        </script>. Designed &amp; Developed by <a class="current-year"
                                            href="https://themefisher.com/">Themefisher</a>
                                    </p>
                                </div>
                            </div>
                        </div> <!-- / .row -->

                    </div>
                </div>
                <div class="col-lg-3 mt-5">
                    <div class="footer-widget">
                        <h5 class="mb-4 text-white font-secondary">Explore</h5>
                        <ul class="list-unstyled">
                            <li class="mb-2"><a href="service-details.html">Home</a>
                            </li>
                            <li class="mb-2"><a href="service-details.html">About</a>
                            </li>
                            <li class="mb-2"><a href="service-details.html">Scholarship</a>
                            </li>
                            <li class="mb-2"><a href="service-details.html">Internship</a>
                            </li>
                            <li class="mb-2"><a href="service-details.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 mt-5">
                    <div class="footer-widget">
                        <h5 class="mb-4 text-white font-secondary">About</h5>
                        <ul class="list-unstyled ">
                            <li class="mb-2 "><a href="#!">Benefits</a>
                            </li>
                            <li class="mb-2"><a href="#!">Careers</a>
                            </li>
                            <li class="mb-2"><a href="#!">Our Story</a>
                            </li>
                            <li class="mb-2"><a href="#!">Team</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 mt-5">
                    <div class="footer-widget">
                        <h5 class="mb-4 text-white font-secondary">About</h5>
                        <ul class="list-unstyled">
                            <li class="mb-2"><a href="#!">Benefits</a>
                            </li>
                            <li class="mb-2"><a href="#!">Careers</a>
                            </li>
                            <li class="mb-2"><a href="#!">Our Story</a>
                            </li>
                            <li class="mb-2"><a href="#!">Team</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <!-- end of footer -->


    <!-- # JS Plugins -->
    <!-- <script src="plugins/jquery/jquery.min.js"></script> -->
    <script src="plugins/bootstrap/bootstrap.min.js"></script>
    <!-- <script src="plugins/slick/slick.min.js"></script> -->
    <!-- <script src="plugins/scrollmenu/scrollmenu.min.js"></script> -->

    <!-- Main Script -->
    <script src="js/script.js"></script>

</body>

</html>