@@include('header.htm')
<!-- start of Hero -->
<section class="banner bg-primary position-relative overflow-hidden ">
    <div class="container mt-lg-5">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 mb-5">
                <div class="block text-center text-lg-start pe-0 pe-xl-5">
                    <h1 class="text-capitalize text-white mb-4">Scholarship and Internship finder</h1>
                    <p class="mb-4">verified listing curated for you.
                    </p>
                    <a type="button" class="btn btn-primary" href="#" data-bs-toggle="modal"
                        data-bs-target="#applyLoan">Filter<span style="font-size: 14px;"
                            class="ms-2 fas fa-arrow-right"></span></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ps-lg-5 text-center">
                    <img loading="lazy" decoding="async" src="images/banner/banner.png" alt="banner image"
                        class="w-100">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of Hero -->

<!-- start of offer -->
<section class="section  bg-tertiary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center col-md-12">
                <div class="section-title pt-4">
                    <p class="text-primary text-uppercase fw-bold mb-3">Our Services</p>
                    <h1>Our online and offline services</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipreiscing elit. Lacus penatibus tincidunt</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 service-item shadow">
                <a class="text-primary" href="service-details.html">
                    <div class="d-inline-flex align-content-center ">
                        <img src="images/scholarship-icon.png" class="align-content-center p-5" width="100%">
                        <div class="block ">
                            <h3 class="mt-3 mb-3 service-title">Scholarship</h3>
                            <p class="mb-3 service-description">Offers from over 23 countries and 57 different
                                universities with diverse majors</p>
                            <p class="mb-0 service-description"><span
                                    class="fa fa-circle text-secondary"></span>Available
                            </p>
                            <div>
                                <a href="#!" class="btn btn-outline-primary border-yellow">Browse</a>
                            </div>

                        </div>

                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-md-12 align-items-center service-item shadow">
                <a class="text-black" href="service-details.html">
                    <div class="d-inline-flex align-content-center">
                        <img src="images/internship-icon.png" class="align-content-center p-5" width="100%">
                        <div class="block">
                            <h3 class="mt-3 mb-3 service-title">Internship</h3>
                            <p class="mb-3 service-description">Offers from over 18 companies located in more than
                                12 countries</p>
                            <p class="mb-0 service-description"><span class="fa fa-circle text-secondary">
                                </span>Available</p>
                            <div>
                                <a href="#!" class="btn btn-outline-primary border-yellow">Browse</a>
                            </div>
                        </div>

                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- end of offer -->

<!-- start of about -->
<section class="about-section section bg-tertiary position-relative overflow-hidden">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 text-center text-lg-start">
                <img loading="lazy" decoding="async" src="images/about-us.png" alt="About Ourselves"
                    class="img-fluid">
            </div>
            <div class="col-lg-5">
                <div class="section-title">
                    <p class="text-primary text-uppercase fw-bold mb-3">About Ourselves</p>
                    <h1>Capply</h1>
                    <p class="lead mb-0 mt-4">
                    <p>CAPPLY is a capstone project made by students of CADT, our main goal is to gather
                        scholarships and internship offers and list them all on our website.
                    </p>
                    <a class="btn btn-outline-primary border-yellow mt-4" href="about.html">Know About Us</a>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- end of about -->



<!-- start of newsletter -->
<section class="section bg-tertiary position-relative overflow-hidden">
    <div class="container">
        <div class="row align-items-center">
            <div class="bg-primary-light" style="padding: 35px;">
                <h5 class="mb-4 text-primary font-secondary">Newsletter Sign UP</h5>
                <div class="pe-0 pe-xl-5">
                    <form action="#!" method="post" name="mc-embedded-subscribe-form" target="_blank">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control shadow-none bg-white border-end-0"
                                placeholder="Email address"> <span class="input-group-text border-0 p-0">
                                <button class="input-group-text border-0 bg-primary" type="submit" name="subscribe"
                                    aria-label="Subscribe for Newsletter"><i
                                        class="fas fa-arrow-right"></i></button>
                            </span>
                        </div>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_463ee871f45d2d93748e77cad_a0a2c6d074" tabindex="-1">
                        </div>
                    </form>
                </div>
                <p class="mb-0">Never miss an opportunity </p>
            </div>
        </div>
</section>
<!-- end of newsletter -->


@@include('footer.htm')